---
import Page from '../layouts/Default.astro';
import Text from '../components/Text.astro';
import Button from '../components/Button.astro';
import { HomeIcon } from 'astro-feather';
import Content from '../components/Content.astro';
---

<Page title="Globed 404" description="This page does not exist :(">
    <Content>
        <h1 class="text-accent-default font-head font-bold text-6xl mb-12 mix-blend-screen">404 :(</h1>

        <Text>Oops! That page doesn't exist :(</Text>

        <Button link="/">
            <HomeIcon slot="pre-icon" />
            Return Home
        </Button>
    </Content>
</Page>
