---
import Page from '../layouts/Default.astro';
import Title from '../components/Title.astro';
import InstructionBox from '../components/InstructionBox.astro';
import Subtitle from '../components/Subtitle.astro';
import Text from '../components/Text.astro';
import Link from '../components/Link.astro';
import Content from '../components/Content.astro';
import GithubProfile from '../components/GithubProfile.astro';
---

<Page title="About Globed" description="About & FAQ for Globed - an open-source, highly customizable multiplayer mod for Geometry Dash.">
    <Content>
        <Title>About Globed</Title>

        <Text>
            Globed is an <em>unofficial mod</em> for Geometry Dash that adds <em>multiplayer</em>
            capabilities to the game, allowing you to see other players in real time and play levels together.
        </Text>

        <div class="h-12" />

        <Text>
            Globed has <em>built-in voice chat support</em>, features like <em>Death Link</em>, <em>Player Collision</em>, <em>2-player mode</em>,
            and many others. It is <em>highly customizable</em>, letting you adjust many aspects of the mod to your liking.
        </Text>

        <Title>Developers</Title>

        <div class="flex">
            <GithubProfile profileLink="https://github.com/dankmeme01" displayName="dank_meme" titleText="Owner / Developer"/>
        </div>

        <div class="h-12" />

        <div class="flex">
            <GithubProfile profileLink="https://github.com/LimeGradient" displayName="LimeGradient" titleText="Developer" />
            <GithubProfile profileLink="https://github.com/ItzKiba" displayName="ItzKiba" titleText="Developer" />
            <GithubProfile profileLink="https://github.com/TechStudent10" displayName="TechStudent10" titleText="Developer" />
            <GithubProfile profileLink="https://github.com/ninXout" displayName="ninXout" titleText="Developer" />
        </div>
    </Content>
</Page>
