---
import Page from '../layouts/Default.astro';
import Title from '../components/Title.astro';
import InstructionBox from '../components/InstructionBox.astro';
import Subtitle from '../components/Subtitle.astro';
import Text from '../components/Text.astro';
import Link from '../components/Link.astro';
import Content from '../components/Content.astro';
import GithubProfile from '../components/GithubProfile.astro';
---

<Page title="About Globed" description="About & FAQ for Globed - an open-source, highly customizable multiplayer mod for Geometry Dash.">
    <Content>
        <Title>About Globed</Title>

        <Text>
            Globed is an <em>unofficial third-party modification</em> for Geometry Dash that adds <em>multiplayer</em>
            capabilities to the game, allowing you to see other players and play levels with them.
        </Text>

        <Text>
            Globed has <em>built-in voice chat support</em> (along with <em>Promixity Chat</em>),
            which can be disabled from the Globed settings menu.
        </Text>

        <Title>Developers</Title>

        <div class="flex">
            <GithubProfile profileLink="https://github.com/dankmeme01" displayName="dank_meme" titleText="Owner / Developer"/>
            <GithubProfile profileLink="https://github.com/availax" displayName="availax" titleText="Owner"/>
        </div>

        <div class="flex">
            <GithubProfile profileLink="https://github.com/LimeGradient" displayName="LimeGradient" titleText="Developer" />
            <GithubProfile profileLink="https://github.com/ItzKiba" displayName="ItzKiba" titleText="Developer" />
            <GithubProfile profileLink="https://github.com/TechStudent10" displayName="TechStudent10" titleText="Developer" />
            <GithubProfile profileLink="https://github.com/ninXout" displayName="ninXout" titleText="Developer" />
        </div>
    </Content>
</Page>
