---
import Page from '../layouts/Default.astro';
import Button from '../components/Button.astro';
import Separator from '../components/Separator.astro';
import Gallery from '../components/Gallery.astro';
import { ArrowDownIcon, ArrowRightIcon, BookIcon, DownloadIcon } from 'astro-feather';
import { Image } from 'astro:assets';

import logo from '../images/logo.png'
import Text from '../components/Text.astro';
import Donate from '../components/Donate.astro';
import Link from '../components/Link.astro';
import Title from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
import ButtonRow from '../components/ButtonRow.astro';
import Content from '../components/Content.astro';
import PlayerStats from '../components/PlayerStats.astro';

const screenshots = (await Astro.glob('../images/screenshot-*.png')).map(file => file.default);
---

<Page title="Globed" description="The official website for Globed - an open-source, highly customizable multiplayer mod for Geometry Dash.">
    <header class="
        flex flex-col
        justify-center items-center
        sm:mt-20 max-sm:mt-32
        sm:p-20 max-sm:p-4
        mb-16
    ">
        <Image src={logo} alt="Globed logo" class="sm:w-48 max-sm:w-28"/>

        <Title>Globed</Title>

        <span class="max-w-subtitle">
            <Subtitle>
                An 
                <Link noUnderline="true" href="https://github.com/dankmeme01/globed2">Open-Source</Link>, 
                Highly Customizable Multiplayer Mod for 
                <Link style="alt" noUnderline="true" href="https://www.robtopgames.com/">Geometry Dash</Link>
            </Subtitle>
        </span>

        <!-- scuffiest padding of my life -->
        <div class="h-8" />

        <ButtonRow reverseOnMobile="true">
            <Button link="#content" solidWidth="true">
                <ArrowDownIcon slot="pre-icon" />
                About
            </Button>
            <Button link="/install" style="alt" solidWidth="true">
                <ArrowRightIcon slot="post-icon" />
                Install
            </Button>
        </ButtonRow>
    </header>

    <Separator />

    <Content>
        <Text>
            Globed is a <em>Multiplayer Mod</em> for Geometry Dash that lets you easily play 
            together with your friends across the world. Just install the mod via Geode, and 
            <em>hop on Globed</em>!
        </Text>

        <Gallery>
            {
                screenshots.map(ss => (
                    <Image src={ss} alt="Screenshot of the Globed mod being used in GD to play together with friends" />
                ))
            }
        </Gallery>

        <Text>
            Globed is available for <em>Geode</em>, the most popular third-party mod loader for 
            Geometry Dash. You can read more about Geode on <Link href="https://geode-sdk.org">its website</Link>!
        </Text>

        <div class="flex flex-col sm:gap-8 max-sm:gap-4 mt-8">
            <Text>
                Interested? Go to the <em>Installation Page</em> for instructions on how to get Globed, 
                or <em>About page</em> if you want to learn more!
            </Text>
            <ButtonRow>
                <Button link="/install">
                    <DownloadIcon slot="pre-icon" />
                    Install Globed
                </Button>
                <Button link="/about">
                    <BookIcon slot="pre-icon" />
                    Read More
                </Button>
            </ButtonRow>
        </div>
    </Content>

    <!-- <PlayerStats/> -->

    <Donate />

</Page>
