---
import Page from '../layouts/Default.astro';
import Donate from '../components/Donate.astro';
import Text from '../components/Text.astro';
import Button from '../components/Button.astro';
import { BookIcon, BoxIcon, MessageCircleIcon } from 'astro-feather';
import { Image } from 'astro:assets';
import searchForGlobed from '../images/search-for-globed.png';
import getARoomYouTwo from '../images/connect-to-server.png';
import Link from '../components/Link.astro';
import Title from '../components/Title.astro';
import InstructionBox from '../components/InstructionBox.astro';
import ButtonRow from '../components/ButtonRow.astro';
import Content from '../components/Content.astro';
---

<Page title="Install Globed">
    <Content>
        <Title>Install Globed</Title>

        <Text>
            Follow these <em>3 steps</em> to install <em>Globed</em> for Geometry Dash.
            <br><br>
            Available on <em>Windows</em>, <em>Mac</em>, and <em>Android</em>!
            <Link href="/about#ios-info">(What about iOS?)</Link>
        </Text>

        <InstructionBox num="1">
            <Text>
                To install Globed, you first need to <em>install Geode</em>. 
                Click below to find instructions for installing it!
            </Text>
            <Button link="https://geode-sdk.org/install">
                <BoxIcon slot="pre-icon" />
                Install Geode
            </Button>
        </InstructionBox>

        <InstructionBox num="2">
            <Text>
                Navigate to the <em>Downloads page in Geode</em> and search for Globed, then click <em>View</em> 
                and <em>Install</em>!
            </Text>
            <Image
                src={searchForGlobed}
                alt="Image showing a person searching for 'Globed' on the Geode in-game Downloads page."
                class="sm:max-w-paragraph max-sm:w-full rounded-xl"
            ></Image>
        </InstructionBox>

        <InstructionBox num="3">
            <Text>
                <em>Log in</em>, <em>Connect to a server</em>, <em>Join a room</em> and <em>Start playing</em>!
            </Text>
            <Image
                src={getARoomYouTwo}
                alt="Image showing a person searching for 'Globed' on the Geode in-game Downloads page."
                class="sm:max-w-paragraph max-sm:w-full rounded-xl"
            ></Image>
        </InstructionBox>

        <InstructionBox num="??">
            <Text>
                Need help using Globed? Hop in to our <em>Help</em> page, or <em>join our Discord</em>!
            </Text>
            <ButtonRow>
                <Button link="/about">
                    <BookIcon slot="pre-icon" />
                    Help
                </Button>
                <Button link="https://discord.gg/d56q5Dkdm3">
                    <MessageCircleIcon slot="pre-icon" />
                    Discord
                </Button>
            </ButtonRow>
        </InstructionBox>
    </Content>
    
    <Donate />
</Page>
