---
import Page from '../layouts/Default.astro';
import Separator from '../components/Separator.astro';
---

<Page title="Install Globed">
    <main class="mb-20 mt-52 text-xl">

        <h1 class="text-accent-default font-head font-bold text-6xl mb-8 mix-blend-screen">Install Globed</h1>
        <p class="text-accent-lightest font-body max-w-paragraph mb-20">
            todo
        </p>

    </main>

    <Separator />
</Page>
