---
import { Image } from 'astro:assets';
import wallpaper from '../images/wallpaper.png';
---

<div class="fixed w-full h-full overflow-hidden -z-10">
    <Image
        src={wallpaper} alt="Background wallpaper"
        class="parallax"
    />
</div>

<script>
    function update() {
        document.querySelectorAll('.parallax').forEach(p => {
            (p as HTMLElement).style.objectPosition = `0px -${window.scrollY * 0.1}px`;
        });
    }
    document.addEventListener('scroll', () => update());
    update();
</script>

<style>
    img {
        mask-image: linear-gradient(theme(colors.wallpaper.darkest), 10%, transparent);
        opacity: 50%;
        filter: blur(0.75rem);
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
</style>
