---

---

<div class="
    flex flex-col
    sm:p-8 max-sm:p-4
    gradient rounded-xl
    max-sm:mx-8 max-sm:my-12
    sm:gap-8 max-sm:gap-4
">
    <slot/>
</div>

<style>
    .gradient {
        background: linear-gradient(45deg, theme(colors.quardiary.darker / 50%), theme(colors.quardiary.darkerAlt / 50%));
    }
</style>
