---

---

<div class="sm:p-8 max-sm:p-4 gradient rounded-xl max-sm:my-12">
    <slot/>
</div>

<style>
    .gradient {
        background: linear-gradient(45deg, theme(colors.quardiary.darker / 50%), theme(colors.quardiary.darkerAlt / 50%));
    }
</style>
