---
const { link, style } = Astro.props;
const url = link.startsWith('https') ? link : `${import.meta.env.BASE_URL}${link}`;
---

<a href={url} class={style}>
    <slot name="pre-icon"><span></span></slot>
    <slot />
    <slot name="post-icon" />
</a>

<style>
    a {
        @apply
            grid items-center justify-items-center
            text-accent-lightest font-body
            border-accent-lightest border-opacity-50 border-solid border-2 rounded-full
            sm:text-xl max-sm:text-lg
            sm:p-4 max-sm:p-3
            sm:min-w-60 max-sm:min-w-52
            transition-colors;
        
        grid-template-columns: 1.75rem 1fr 1.75rem;
    }
    a:hover {
        @apply
            bg-tertiary-light
            border-tertiary-light
            text-tertiary-darkest
            cursor-pointer;
    }

    .alt:hover {
        @apply
            bg-quardiary-light
            border-quardiary-light
            text-quardiary-darkest;
    }
</style>
