---
const { reverseOnMobile } = Astro.props;
const classList = `
    flex
    sm:flex-row ${reverseOnMobile === 'true' ? 'max-sm:flex-col-reverse' : 'max-sm:flex-col'}
    items-center justify-center
    sm:gap-8 max-sm:gap-4
`;
---

<div class={classList}><slot/></div>
