---
const {gapSize = 8, padding = 20} = Astro.props;
---

<main id="content" class=`
    flex flex-col 
    items-center
    gap-${gapSize}
    sm:p-${padding} max-sm:p-6 max-sm:pt-20
`><slot/></main>
