---

---

<footer class="mt-20 mb-12">
    <p class="text-wallpaper-lightest">
        Site by <a class="alt2" href="https://twitter.com/hjfod">HJfod</a>.
        (c) Globed 2024
    </p>
</footer>
