---
const { num, align, id } = Astro.props;
const classList = `flex flex-col ${align ?? 'items-center'} gap-8`;
---

<article id={id}>
    <p>{num}</p>
    <div class={classList}>
        <slot/>
    </div>
</article>

<style>
    article {
        @apply
            flex sm:flex-row max-sm:flex-col items-center
            gap-8 sm:p-8 max-sm:p-4
            bg-wallpaper-default bg-opacity-25 
            rounded-xl;
    }

    article > p {
        @apply
            flex justify-center items-center
            text-wallpaper-darkest 
            bg-wallpaper-lightest rounded-full w-16 h-16
            font-bold font-head text-3xl;
    }
</style>
