---
import Subtitle from "./Subtitle.astro";


---

<div class="flex flex-col items-center gap-4">
    <Subtitle>Online Players</Subtitle>
    <div class="bg-wallpaper-darkest bg-opacity-50 p-8 rounded-xl max-w-paragraph">
        <canvas class="player-stats"></canvas>
    </div>
</div>

<script>
    import { Chart } from 'chart.js/auto';

    const data = (await (await fetch('https://globed.dankmeme.dev/public/players?period=hour')).json()).data as [{
        log_time: number,
        count: number,
    }];
    document.querySelectorAll('.player-stats').forEach(canvas => {
        const chart = new Chart(canvas as HTMLCanvasElement, {
            type: 'line',
            data: {
                labels: data.map(row => new Date(row.log_time * 1000).toLocaleTimeString()),
                datasets: [
                    {
                        label: 'Players',
                        data: data.map(row => row.count),
                    }
                ]
            },
        });
        chart.resize(1000, 1000);
    });
</script>
