---

---

<div></div>

<style>
    div {
        background: linear-gradient(to right, transparent, 25%, theme(colors.accent.lightest), 75%, transparent);
        height: .2em;
        width: 50vw;
    }
</style>
