---
const { color, size, font, center, bold } = Astro.props;
const classList = `
    max-w-paragraph
    ${color ?? 'text-accent-lightest'}
    ${font ?? 'font-body'}
    ${size ?? 'sm:text-xl max-sm:text-base'}
    ${center === 'true' ? 'text-center' : ''}
    ${bold === 'true' ? 'font-bold' : ''}
`
---

<p class={classList}><slot/></p>

<style is:global>
    em {
        @apply
            not-italic
            text-qvintiary-default;
    }
</style>
