---

---

<h1 class="
    text-accent-default font-head font-bold
    text-center
    sm:text-6xl max-sm:text-5xl
    sm:mb-12 max-sm:mb-6 sm:mt-12 max-sm:mt-6
    mix-blend-screen
"><slot/></h1>
